body {
  background: url("../images/vecteezy_Background_nl1220.jpg") no-repeat center
    center fixed;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
h2 {
  font-family: "Teko", sans-serif;
  color: #eb6349;
  text-transform: uppercase;
}

nav {
  background-color: #ffffff;
  padding: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav img {
  height: 2rem;
}
